button:focus {
    outline: none;
}

svg {
    display: block;
    margin: auto;
}

svg.open line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

svg.open line:nth-child(2) {
    opacity: 0;
}

svg.open line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.line {
    transition: transform 0.3s, opacity 0.3s;
}
